/* © Copyright Jessie Amaral. Code and layouts of this website are provided under a CC BY-SA 4.0 license, and this website's code and layout may be referenced for derivative works thereof provided appropriate credit is given.

Images and animated content on this website may not necessarily fall under this same CC BY-SA 4.0 License and licensing of animated content or images does not fall under a Creative Commons license (unless directly stated otherwise.) */

/* Basic CSS */
body, html {
    background-color: #fafafa;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.loadwrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    display: inline-block;
    width: 22.5%;
    height: 22.5%;
    position: absolute;
}

/* Page Top/Hero */
.hero {
    background-image: linear-gradient(to bottom right, #564a5f, #783661);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-header {
    color: white;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
}

#subhero {
    color: white;
    font-size: 16px;
}

p {
    font-family: verdana;
    font-size: 20px;
}