/* © Copyright Jessie Amaral. Code and layouts of this website are provided under a CC BY-SA 4.0 license, and this website's code and layout may be referenced for derivative works thereof provided appropriate credit is given.

Images and animated content on this website may not necessarily fall under this same CC BY-SA 4.0 License and licensing of animated content or images does not fall under a Creative Commons license (unless directly stated otherwise.) */

/* Basic CSS */
body, html {
    background-color: #fafafa;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #333;
}

a {
    color: white;
    text-decoration: none;
}

/* Page Loader */
.loadwrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    display: inline-block;
    width: 22.5%;
    height: 22.5%;
    position: absolute;
}

/* Page Top Nav */
.navwrapper {
}

.navbar {
    position: absolute;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    height: 100;
    width: 90%;
    max-width: 1600px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbarlogo {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    right: 25%;
    margin-right: 10px;
}

.navbartext {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding: 0px 6px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.social {
    display: inline-block;
    float: right;
    vertical-align: middle;
    border-radius: 10px;
    padding: 0px 6px;
    position: relative;
    top: 22.5px;
}

.socialdrop {
    display: inline-block;
    float: right;
    vertical-align: middle;
    border-radius: 10px;
    padding: 0px 6px;
    padding-left: 12px;
    position: relative;
    top: 14px;
}

.social:hover {
    background-color: white;
    color: #564a5f;
    height: 12;
    transition-duration: 0.2s;
    transition-property: background,color;
    transition-timing-function: ease-out;
}

.navbartext:hover {
    background-color: white;
    color: #564a5f;
    transition-duration: 0.2s;
    transition-property: background,color;
    transition-timing-function: ease-out;
}

.navbar .icon {
  display: none;
}


/* Page Top/Hero */
.hero {
    background: #333333;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.intro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 700px
    z-index: 0;
}

.hero-header {
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -15%);
    font-size: 20px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#subhero {
    position: relative;
    color: white;
    font-size: 13px;
    top: -25px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}

#coveranim {
    position: relative;
    width: 1500px;
}

p {
    font-size: 20px;
}
